@model IEnumerable<InventoryClientApp.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProdId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockQty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQty)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ProdId }) |
                @Html.ActionLink("Details", "Details", new {  id=item.ProdId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.ProdId  })
            </td>
        </tr>
}
    </tbody>
</table>
